figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

figure img {
  width: 100%;
  height: auto;
  max-width: 500px !important;
}

figure figcaption {
  padding-top: 4px;
  font-style: italic;
}
